services:
  app:
    image: ghcr.io/d3mocide/meshrf:latest
    container_name: meshrf
    ports:
      - "5173:5173"
    environment:
    #Add your hostname if using behind a reverse proxy  
      - ALLOWED_HOSTS=localhost
    command: npm run dev -- --host
