services:
  app:
    image: ghcr.io/d3mocide/mesh_rf_analyzer:latest
    container_name: mesh_analyzer
    ports:
      - "5173:5173"
    environment:
      - ALLOWED_HOSTS=localhost #Add your hostname if using a reverse proxy
    command: npm run dev -- --host
